<theme>
    <formatVersion>7</formatVersion>
	
<!--Stile Carosello -->
	<subset subset="systemview" name="Carousel" displayName="Carousel Style">
	<include name="Vertical_wheel">./subsets/carosello/vertical_wheel.xml</include>
	<include name="vertical">./subsets/carosello/vertical.xml</include>
	<include name="Horizontal_wheel">./subsets/carosello/horizontal_wheel.xml</include>
	<include name="horizontal">./subsets/carosello/horizontal.xml</include>
	</subset>

<!--Stile loghi Carosello -->	
	<subset subset="Carousel logos" name="Carousel logos" displayName="Carousel logos style">
	<include name="Logos">./subsets/loghi/logos.xml</include>
	<include name="Text">./subsets/loghi/text.xml</include>
	</subset>
	
<!--Stile Carosello giochi -->
	<subset subset="Game Carousel Style" name="Game Carousel Style" displayName="Game Carousel Style" appliesTo="gamecarousel">
	<include name="text">./subsets/carosellogiochi/testo.xml</include>
	<include name="marquee">./subsets/carosellogiochi/marquee.xml</include>
	</subset>

<!--Stile layout -->	
	<subset subset="Layout" name="Layout" displayName="Layout" >
	<include name="Default">./subsets/layout/layout-default.xml</include>
	<include name="Inverted">./subsets/layout/layout-inverted.xml</include>
	<include name="Dark">./subsets/layout/layout-dark.xml</include>
	<include name="Full Dark">./subsets/layout/layout-fulldark.xml</include>
	<include name="Full Light">./subsets/layout/layout-fullight.xml</include>
	</subset>
		
<!--Sfondi -->
	<subset subset="Background" name="Background" displayName="Background">
	<include name="Retrowave">./subsets/sfondi/retrowave.xml</include>
	<include name="Tunnel">./subsets/sfondi/tunnel.xml</include>
	<include name="Linear">./subsets/sfondi/linear.xml</include>
	<include name="Dust">./subsets/sfondi/dust.xml</include>
	<include name="Particles">./subsets/sfondi/particles.xml</include>
	<include name="Pixel">./subsets/sfondi/pixel.xml</include>
	<include name="Hexagon">./subsets/sfondi/hexagon.xml</include>
	<include name="Game room">./subsets/sfondi/gameroom.xml</include>
	<include name="Metropolis">./subsets/sfondi/metropolis.xml</include>
	<include name="Nebula">./subsets/sfondi/nebula.xml</include>
	<include name="Neural">./subsets/sfondi/neural.xml</include>
	<include name="Sci-Fi">./subsets/sfondi/scifi.xml</include>
	<include name="Smoke">./subsets/sfondi/smoke.xml</include>
	<include name="Triangles">./subsets/sfondi/triangles.xml</include>
	<include name="FanArt">./subsets/sfondi/FanArt.xml</include>
	<include name="Random game videos">./subsets/sfondi/video.xml</include>
	</subset>


<!--Accento -->	
	<subset subset="Accent color" name="Accent Color" displayName="Accent Color">
	<include name="Dune">./subsets/colors/dune.xml</include>
	<include name="Charcoal">./subsets/colors/charcoal.xml</include>
	<include name="Snow">./subsets/colors/snow.xml</include>
	<include name="Slate">./subsets/colors/slate.xml</include>
	<include name="Tangerine">./subsets/colors/tangerine.xml</include>
	<include name="Crimson">./subsets/colors/crimson.xml</include>
	<include name="Razor Backs">./subsets/colors/razorbacks.xml</include>
	<include name="Angel Bule">./subsets/colors/angel_blue.xml</include>
	<include name="Ultramarine">./subsets/colors/ultramarine.xml</include>
	<include name="Feldgrau">./subsets/colors/feldgrau.xml</include>
	<include name="Payton">./subsets/colors/payton.xml</include>
	<include name="Acapulco">./subsets/colors/acapulco.xml</include>	
	</subset>	
	
<!--stile loghi apertura sistema -->	
	<subset subset="Launch Sistems Logo" name="Launch Sistems Logo" displayName="Launch Systems Logo style">
	<include name="Controllers">./subsets/intrologo/controllers.xml</include>
	<include name="Logos">./subsets/intrologo/logos.xml</include>
	<include name="Logo text">./subsets/intrologo/logotext.xml</include>
	</subset>

<!--testo apertura sistema -->		
	<subset subset="Launch Sistems Text" name="Launch Sistems Text" displayName="Launch Systems Text">
	<include name="Ready to Play">./subsets/intrologotext/readytoplay.xml</include>
	<include name="Games">./subsets/intrologotext/games.xml</include>
	<include name="Arcade Zone">./subsets/intrologotext/arcadezone.xml</include>
	</subset>
	
<!--Informazioni di sistema extra -->
	<subset subset="systeminfoextra" name="systeminfoextra" displayName="Extra Systems Info">
	<include name="yes">./subsets/info/yes.xml</include>
	<include name="no">./subsets/animazioni/no.xml</include>
	</subset>
	

<!--animazioni -->
	<subset subset="animations" name="Animations" displayName="Animations">
	<include name="Yes">./subsets/animazioni/animations.xml</include>
	<include name="No">./subsets/animazioni/noanimations.xml</include>
	</subset>

<!--stile icona controller -->
	<subset subset="Controller Icon" name="Controller Icon" displayName="Controller Icon">
	<include name="Arcade stick">./subsets/controllericon/arcade.xml</include>
	<include name="Gamepad">./subsets/controllericon/gamepad.xml</include>
	</subset> 	
	
<!--Riflessi -->	
	<subset subset="Reflexions" name="Reflexions effect" displayName="Reflexions effect">
	<include name="No">./subsets/reflexions/no.xml</include>
	<include name="Yes">./subsets/reflexions/si.xml</include>
	</subset>	
	
<!--stile rating -->
	<subset subset="rating" name="Rating Style" displayName="Rating Style">
	<include name="Heart">./subsets/rating/heart.xml</include>
	<include name="Star">./subsets/rating/star.xml</include>
	<include name="Hexagon">./subsets/rating/hexagon.xml</include>
	<include name="Circle">./subsets/rating/circle.xml</include>
	</subset> 	
	
<!--Anteprima video
	<subset subset="videopreview" name="Video Preview">
	<include name="Yes">.\subsets\anteprimavideo\videopreview.xml</include>
	<include name="No">.\subsets\anteprimavideo\novideopreview.xml</include>
	</subset>  -->
	
<!--anteprima video nella vista grid -->
	<subset subset="video" name="Video on grid" displayName="Video on grid">
	<include name="No">./subsets/grid/novideo.xml</include>
	<include name="Yes">./subsets/grid/video.xml</include>
	</subset> 

<!--Tipo Font descrizione sistemi -->	
	<subset subset="System Description font" name="System Description font" displayName="System Description font">
	<include name="Ubuntu Light">./subsets/descriptionfont/ubuntu.xml</include>
	<include name="Roboto Regular">./subsets/descriptionfont/roboto.xml</include>
	</subset> 

<!--dimensione Font descrizione sistemi -->		
	<subset subset="System Description font size" name="System Description font size" displayName="System Description font size">
	<include name="Regular">./subsets/descriptiontext/regular.xml</include>
	<include name="Small">./subsets/descriptiontext/small.xml</include>
	</subset> 

<!--Font titoli -->	
	<subset subset="Titles font" name="Titles font" displayName="Titles font">
	<include name="Barcade">./subsets/titlefont/barcade.xml</include>
	<include name="Snes">./subsets/titlefont/snes.xml</include>
	<include name="Retro party">./subsets/titlefont/retroparty.xml</include>
	<include name="Retronoid">./subsets/titlefont/retronoid.xml</include>
	<include name="Ninja Garden">./subsets/titlefont/ninjagarden.xml</include>
	<include name="PacMania">./subsets/titlefont/pacmania.xml</include>
	</subset> 
</theme>


